{% extends "index.html" %}

{% block title %}
New Email
{% endblock %}

{% block content %}
<form action="/compose" method="POST" enctype="multipart/form-data">
    <label for="recipient">To:</label>
    <input type="email" id="recipient" name="recipient" required><br><br>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required><br><br>
    <label for="body">Body:</label><br>
    <textarea id="body" name="body" rows="4" cols="50" required></textarea><br><br>
    <label for="attachment">Attachment:</label>
    <input type="file" id="attachment" name="attachment"><br><br>
    <button type="submit">Send</button>
</form>
<hr>
{% endblock %}