body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #181a1b;
    color: #fff;
}

input textarea{
    background-color: #3b3b3b;
}

.sidebar {
    width: 200px;
    background-color: #262a2b;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    margin-left: 200px;
    padding: 20px;
}